{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "plugins": ["import"],
  "env": {
    "node": true
  },
  "rules": {
    "max-len": 0,
    "no-bitwise": "off",
    "no-mixed-operators": "off",
    "global-require": "off"
  }
}
